In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Задание №1
#### С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен.

In [2]:
def get_names(year):
    path_names = '/Users/yvdsd/SandBox/names/yob{}.txt'.format(year)
    names_data = pd.read_csv(
        path_names,
        names = ['Name', 'Gender', 'Count'])
    return names_data

In [13]:
def top_names(year_1, year_2):
    years = range(year_1, year_2)
    years_all = {}
    for year in years:
        years_all[year] = pd.read_csv(
        '/Users/yvdsd/SandBox/names/yob{}.txt'.format(year),
            names = ['Name', 'Gender', 'Count'])
    total = pd.concat(years_all)
    group_names = total.groupby('Name').sum().sort_values(by = 'Count', ascending = False)
    return group_names

In [14]:
top_names(1880, 1900).iloc[:3]

          Count
Name
Mary     223661
John     171587
William  157864

# Задание №2
#### С использованием Pandas написать функцию, которая возвращает динамику изменения количества  имен за указанные года в разрезе полов.

In [7]:
def gender_sort(year_1, year_2):
    years = range(year_1, year_2)
    years_all = {}
    for year in years:
        years_all[year] = pd.read_csv(
        '/Users/yvdsd/SandBox/names/yob{}.txt'.format(year),
            names = ['Name', 'Gender', 'Count'])
    total = pd.concat(years_all, names = ['Year', 'Pos'])
    total_group = total.groupby([total.index.get_level_values(0), 'Gender']).sum()
    return total_group.unstack('Gender')

In [9]:
gender_sort(1880,1900)

         Count
Gender       F       M
Year
1880     90992  110491
1881     91953  100743
1882    107847  113686
1883    112318  104627
1884    129020  114443
1885    133055  107799
1886    144533  110784
1887    145981  101415
1888    178624  120851
1889    178366  110581
1890    190376  111025
1891    185482  101191
1892    212339  122036
1893    212905  112317
1894    222922  115769
1895    233627  117396
1896    237918  119567
1897    234201  112757
1898    258769  122690
1899    233023  106211