In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Задание №1
#### С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен.

In [2]:
def get_names(year):
    path_names = '/Users/yvdsd/SandBox/names/yob{}.txt'.format(year)
    names_data = pd.read_csv(
        path_names,
        names = ['Name', 'Gender', 'Count'])
    return names_data

In [3]:
def top_names(year_1, year_2, year_3):
    names_all = pd.concat([get_names(year_1), get_names(year_2), get_names(year_3)])
    group_names = names_all.groupby('Name').sum().sort_values(by = 'Count', ascending = False)
    return group_names

In [4]:
top_names('1880','1890','1900').iloc[:3]

         Count
Name
Mary     35986
John     28134
William  25713

# Задание №2
#### С использованием Pandas написать функцию, которая возвращает динамику изменения количества  имен за указанные года в разрезе полов.

In [12]:
def gender_sort(year_1, year_2, year_3):
    years = [year_1, year_2, year_3]
    years_all = {}
    for year in years:
        years_all[year] = pd.read_csv(
        '/Users/yvdsd/SandBox/names/yob{}.txt'.format(year),
            names = ['Name', 'Gender', 'Count'])
    total = pd.concat(years_all, names = ['Year', 'Pos'])
    total_group = total.groupby([total.index.get_level_values(0), 'Gender']).sum()
    return total_group.unstack('Gender')

In [19]:
gender_sort('1880','1900','2000')

          Count
Gender        F        M
Year
1880      90992   110491
1900     299810   150486
2000    1814922  1962744