In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Задание №1
#### С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен.

In [2]:
def get_names(year):
    path_names = '/Users/yvdsd/SandBox/names/yob{}.txt'.format(year)
    names_data = pd.read_csv(
        path_names,
        names = ['Name', 'Gender', 'Count'])
    return names_data

In [25]:
def top_names(collection):
    years = (collection)
    years_all = {}
    for year in years:
        years_all[year] = pd.read_csv(
        '/Users/yvdsd/SandBox/names/yob{}.txt'.format(year),
            names = ['Name', 'Gender', 'Count'])
    total = pd.concat(years_all)
    group_names = total.groupby('Name').sum().sort_values(by = 'Count', ascending = False)
    return group_names

In [26]:
cities_list = [1880, 1881, 1882, 1883]
top_names(cities_list).iloc[:3]

         Count
Name
John     37027
William  35872
Mary     30262

# Задание №2
#### С использованием Pandas написать функцию, которая возвращает динамику изменения количества  имен за указанные года в разрезе полов.

In [28]:
def gender_sort(collection):
    years = (collection)
    years_all = {}
    for year in years:
        years_all[year] = pd.read_csv(
        '/Users/yvdsd/SandBox/names/yob{}.txt'.format(year),
            names = ['Name', 'Gender', 'Count'])
    total = pd.concat(years_all, names = ['Year', 'Pos'])
    total_group = total.groupby([total.index.get_level_values(0), 'Gender']).sum()
    return total_group.unstack('Gender')

In [30]:
gender_sort(cities_list)

         Count
Gender       F       M
Year
1880     90992  110491
1881     91953  100743
1882    107847  113686
1883    112318  104627